<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Zerodha_EndtoEnd Suite">
  <test thread-count="5" name="EndtoEnd.Test">
    <classes>
      <class name="com.zerodha.TestCases.LoginPageTest"/>
    </classes>
  </test> <!-- EndtoEnd.Test -->
</suite> <!-- Zerodha_EndtoEnd Suite -->
